<div class="vu">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-text pull-left">
                <a class="navbar-link" href="#!/user/admin">
                    <span class="glyphicon glyphicon-chevron-left vu-white"></span>
                </a>
            </div>
            <div class="navbar-header navbar-brand">
                Add User
            </div>

        </div>
    </nav>
    <div class="container-fluid">
        <div ng-show="model.errorMessage" class="alert alert-danger">
            {{model.errorMessage}}
        </div>
        <label for="username">Username</label>
        <input name="username"
               id ="username"
               type="text"
               ng-model="user.username"
               class="form-control"
               placeholder="alex"/>
        <label for="password">Password</label>
        <input name="password"
               id ="password"
               placeholder="qwerty123@"
               ng-model="user.password"
               type="password"
               class="form-control"/>
        <label for="password2">Verify Password</label>
        <input name="password2"
               id ="password2"
               placeholder="qwerty123@"
               ng-model="user.password2"
               type="password"
               class="form-control"/>
        <a class="btn btn-default btn-primary btn-block"
           ng-click="model.createUser(user)"
           role="button">Create User</a>
        <a class="btn btn-default btn-danger btn-block"
           href="#!/login"
           role="button">Cancel</a>

    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="navbar-header navbar-text pull-right container-fluid">
            <a class="navbar-link"  href="#!/user">
                <span class="glyphicon glyphicon-user vu-white"></span>
            </a>
        </div>
    </nav>
</div>