<div class="vu">
    <div>
        <nav class="navbar navbar-expand-sm navbar-light vu-bg-light fixed-top">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="#!/user/search">Stocks</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!/user/friends">Following</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!/user/followers">Your followers</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!/user/activity">Your Feed</a></li>
                    <li class="nav-item active" ng-if="model.user.admin" ><a class="nav-link" href="#!/user/admin">User List</a></li>
                </ul>
            </div>
        </nav>

        <div class="container-fluid">

            <a href="#!/user/admin/addUser" class="btn btn-primary float-right vu-margin-bottom-20">Add User</a>
            <div>

                <table class="table table-responsive user-table">

                    <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                    </tr>
                    </thead>
                    <tbody ng-repeat="user in model.userList">
                    <tr>
                        <td>{{user.firstName}}</td>
                        <td>{{user.lastName}}</td>
                        <td><a href="#!/user/{{user._id}}/edit">{{user.username}}</a></td>
                    </tbody>
                </table>

            </div>

        </div>

        <nav class="navbar navbar-expand-sm navbar-light vu-bg-light fixed-bottom">
            <div class="container-fluid">
                <div class="navbar-nav mr-auto ">
                </div>
                <div class="navbar-link ">
                    <a class="navbar-header navbar-brand float-right"  href="#!/user">
                        <span class="fa fa-user fa-fw vu-white"></span>
                    </a>
                </div>
            </div>
        </nav>
    </div>
</div>