.vu-profile-pic {
    height: 250px;
    border-radius: 30px;
}



.vu-padding-bottom {
    padding-bottom: 3px;
}

@media (min-width: 768px) {

    .vu-work {
        margin:auto;
        width: 600px;
    }
}