<div class="vu">
    <div>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">

                <div class="navbar-text pull-right">
                    <a class="navbar-link" ng-click="model.updateUser()" href="#!/user/{{model.userId}}">
                        <span class="glyphicon glyphicon-ok vu-white"></span>
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#!/user/{{model.userId}}/search">Stocks</a></li>
                        <li><a  href="#!/user/{{model.userId}}/friends">Find Friends</a></li>
                        <li ><a  href="#!/user/{{model.userId}}/followers">Your followers</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group">
                        <input type="text" ng-model="model.ticker" class="form-control" placeholder="Search for any stock. (MSFT, AAPL)...">
                        <span class="input-group-btn">
                             <button class="btn btn-default"  ng-click="model.searchStock()" type="button">Go!</button>
                        </span>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
            <div ng-if="model.userId">
                <br><h3> Welcome {{model.user.username}}</h3><br>
            </div>

            <br>
            <div ng-if="model.user && model.stockData">
                <div class="vu-widget-container">
                        <div>
                            <div class="vu-widget-text">
                                <a ng-show="model.isFollowingCurrentSearch == false" ng-click="model.followStock(model.ticker)">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </a>
                                <span ng-show="model.isFollowingCurrentSearch == true"  ng-click="model.unFollowStock(model.ticker)" class="glyphicon glyphicon glyphicon-remove"></span>
                            </div>
                        </div>
                </div>

                <a  href="#!/user/{{model.userId}}/stock/{{model.ticker}}">
                <h6>{{model.ticker}}</h6>
                </a>
            </div>
            <div ng-bind="model.stockData">
            </div>
            <h6>Your stocks</h6>
            <h6>Table</h6>
            <!--<table datatable="" dt-options="model.dtOptions" dt-column-defs="model.dtColumnDefs"></table>-->
            <div class="container-fluid">
                <ul class="list-group">
                    <!--<li ng-repeat="userStock in model.stockUserData.stocks" class="list-group-item">-->
                    <li ng-repeat="userStock in model.stockUserDataDetailed" class="list-group-item">

                        <a  href="#!/user/{{model.userId}}/stock/{{userStock[0]}}">
                            {{userStock}}
                        </a>
                    </li>
                </ul>
            </div>



        </div>

        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="navbar-header navbar-text pull-right container-fluid">
                <a class="navbar-link"  href="#!/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user vu-white"></span>
                </a>
            </div>
        </nav>
    </div>
</div>