<div class="vu">
    <div>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">

                <div class="navbar-text pull-right">
                    <a class="navbar-link" ng-click="model.updateUser()" href="#!/user/{{model.user._id}}">
                        <span class="glyphicon glyphicon-ok vu-white"></span>
                    </a>
                </div>
                <div class="navbar-header navbar-brand">
                    Profile
                </div>
            </div>
        </nav>

        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group">
                        <input type="text" ng-model="model.ticker" class="form-control" placeholder="Search for any stock. (MSFT, AAPL)...">
                        <span class="input-group-btn">
                             <button class="btn btn-default"  ng-click="model.searchStock()" type="button">Go!</button>
                        </span>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
            <div ng-if="model.userId">
                <b> Welcome {{model.userId}}</b>b>
            </div>
            <h6>Analyst Ratings API</h6>
            <div ng-bind="model.stockRating">

            </div>
            <h6>Stock Info API</h6>
            <div ng-bind="model.stockData">
            </div>

        </div>

        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="navbar-header navbar-text pull-right container-fluid">
                <a class="navbar-link" href="#!/user/{{model.user._id}}">
                    <span class="glyphicon glyphicon-user vu-white"></span>
                </a>
            </div>
        </nav>
    </div>
</div>