<div class="vu">
    <div>
                <nav class="navbar navbar-expand-sm navbar-light vu-bg-light fixed-top">
            <div class="collapse navbar-collapse">
                <div class="navbar-text float-left">
                    <!--<a class="nav-link" href="#!/user/friends">-->
                        <!--<span class="fa fa-arrow-left vu-white"></span>-->
                    <!--</a>-->
                    <back> </back>

                </div>
                <div class="navbar-header navbar-brand">
                    Profile View
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            <h3> Profile details</h3><hr>
            <div ng-show="model.msg" class="alert alert-info">
                {{model.msg}}
            </div>
            <label for="username">Username</label>
            <input name="username"
                   id ="username"
                   type="text"
                   readonly
                   ng-model="model.friendData.username"
                   class="form-control"/>
            <label for="firstName">First Name</label>
            <input name="firstName"
                   id ="firstName"
                   class="form-control"
                   type="text"
                   readonly
                   ng-model="model.friendData.firstName"
                  />

            <label for="lastName">Last Name</label>
            <input name="lastName"
                   id ="lastName"
                   type="text"
                   readonly
                   class="form-control"
                   ng-model="model.friendData.lastName"
                   />

            <label for="dob">Date of Birth</label>
            <input name="dob"
                   id ="dob"
                   readonly
                   type="date"
                   ng-model="model.user.dob"
                   class="form-control"/>
            <div class="vu-margin-top-45">
            <h3> {{model.friendData.username}}'s activity</h3>
                <hr>
                <div class="container-fluid"  ng-hide="model.friendActivity.length">
                    <div class="alert alert-info center-block">
                        <strong>{{model.friendData.username}} has no activity yet</strong>
                    </div>
                </div>
            </div>
            <ul class="list-group">
                <li ng-repeat="activity in model.friendActivity" class="list-group-item">
                    <i>
                        {{activity.userId.username}} {{ model.feedContent[activity.type]}} {{activity.ticker}} {{activity.friendId.username}}
                    </i>
                    <div class="pull-right">
                        <small><i>{{ activity.date | date : "short" }}</i></small>
                    </div>
                </li>
            </ul>
            <nav class="navbar navbar-expand-sm navbar-light vu-bg-light fixed-bottom">
            <div class="container-fluid">
                <div class="navbar-nav mr-auto ">
                </div>
                <div class="navbar-link ">
                    <a class="navbar-header navbar-brand float-right"   href="#!/user">
                        <span class="fa fa-user fa-fw vu-white"></span>
                    </a>
                </div>
            </div>
        </nav>
    </div>
</div>