<div class="vu">
    <div>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">

                <div class="navbar-text pull-right">
                    <a class="navbar-link" ng-click="model.updateUser()" href="#!/user">
                        <span class="glyphicon glyphicon-ok vu-white"></span>
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#!/user/search">Stocks</a></li>
                        <li class="active"><a  href="#!/user/friends">Following</a></li>
                        <li><a  href="#!/user/followers">Your followers</a></li>
                        <li><a  href="#!/user/activity">Your Feed</a></li>
                        <li ng-if="model.user.admin" ><a  href="#!/user/admin">User List</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group">
                        <input type="text" ng-model="model.friend" class="form-control" placeholder="Enter your friends username. (alice2978, bob92)...">
                        <span class="input-group-btn">
                             <button class="btn btn-default"  ng-click="model.searchFriend()" type="button">Go!</button>
                        </span>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
            <br>
            <div ng-if="model.friendData">
                <div class="vu-widget-container">
                        <div >
                            <div class="vu-widget-text">
                                <a ng-show="model.isFollowingCurrentSearch == false" ng-click="model.followFriend()">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </a>
                                <span ng-show="model.isFollowingCurrentSearch == true"  ng-click="model.unFollowFriend()" class="glyphicon glyphicon glyphicon-remove"></span>
                            </div>
                        </div>
                </div>
                <a  href="#!/user/otheruser/{{model.friendData._id}}">
                <h6>{{model.friendData.username}}</h6>
                </a>
            </div>

            <div ng-if="model.friendData">
                <h6>You are following</h6>
            </div>
            <div class="container-fluid">
                <ul class="list-group">
                    <li ng-repeat="friend in model.friends" class="list-group-item">

                        <a  href="#!/user/otherUser/{{friend._id}}">
                            {{friend}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="navbar-header navbar-text pull-right container-fluid">
                <a class="navbar-link"  href="#!/user">
                    <span class="glyphicon glyphicon-user vu-white"></span>
                </a>
            </div>
        </nav>
    </div>
</div>