input, textarea {
    margin-bottom: 5px;
}
/*.vu{*/
    /*margin:auto;*/
    /*width:1024px;*/
/*}*/
.vu .vu-margin-bottom-5 {
    margin-bottom: 5px;
}
.vu .vu-margin-bottom-15 {
    margin-bottom: 15px;
}
.vu h6{
    margin-top: 45px;
}
.vu .vu-margin-bottom-20{
    margin-bottom: 20px;
}
.vu .vu-margin-top-45{
    margin-top: 45px;
}
.vu .vu-comment{
    list-style: none;
}

p {
    text-align:justify;
}
.fa{
    cursor: pointer;

}
body {
    padding-top: 100px;
    padding-bottom: 70px;
}
.vu .card{
    margin-top: 20px;
    margin-bottom: 20px;
}
.vu .card-block{
    padding: 40px;
}

img, iframe {
    margin-bottom: 10px;
}
.vu .vu-center-card {
    margin:0 auto;
    width:600px;
    background-color: #d4d4d4;
}
.vu .vu-strong-buy {
    background-color: #00ad13;
}
.vu .vu-buy {
    background-color: #086218;
}
.vu .vu-hold {
     background-color: #ec9c01;
 }
.vu .vu-sell {
    background-color: #800101;
}
.vu .vu-strong-sell{
    background-color: #e10d0d;
}
.vu .navbar-default {
    background-color: #004988;
    border-color: #204d74;
}
.vu .badge{
    color: darkgreen;
}
.vu .vu-bg-light{
    background-color: #b1bbc4;
}

.vu .navbar-default a {
    color: white;
}


.vu .navbar-default .navbar-brand {
    color: white;
    padding-top: 0.8125rem;
    padding-left: 0.5125rem;
}

.vu .vu-white{
     color: white;
 }
.vu .vu-green{
    color: limegreen;
}
.vu .vu-black{
    color: black;
}
.list-group,
.list-group .list-group-item {
    box-shadow: none;
    border: none;

}

.vu .vu-split-view-left {
    position: absolute;
    top: 60px;
    bottom: 0px;
    z-index: 1;
    overflow-y: scroll;
}


@media (min-width: 1200px) {
    .col-lg-9.vu-split-view-right {
        width: 75%;
        position: absolute;
        right: 0px;
        overflow-y: scroll;
        top: 60px;
        bottom: 0px;
    }
}

.vu a:hover {
    text-decoration: none;
}
.vu .glyphicon:hover {
    cursor: pointer;
}

.vu-widget-container {
    position: relative;

}


.vu-widget-image{
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
}

.vu-widget-text{
    float: right;
}
