<div class="vu">
    <div>

        <nav class="navbar navbar-expand-lg navbar-light vu-bg-light fixed-top">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="#!/user/search">Stocks</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!/user/friends">Following</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!/user/followers">Your followers</a></li>
                    <li class="nav-item active"><a class="nav-link" href="#!/user/activity">Your Feed</a></li>
                    <li class="nav-item" ng-if="model.user.admin" ><a class="nav-link" href="#!/user/admin">User List</a></li>
                </ul>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="container-fluid"  ng-hide="model.activities.length">
                <div class="alert alert-info center-block">
                    <strong>Nothing in your feed. Check back later.</strong>
                </div>
            </div>
                <div class="card" ng-repeat="activity in model.activities">
                    <div class="card-header">
                            <strong class="ng-binding">
                                {{activity.userId.username}} {{ model.feedContent[activity.type]}} {{activity.ticker}} {{activity.friendId.username}}
                            </strong>
                        <div class="pull-right">
                            <small><i>{{ activity.date | date : "short" }}</i></small>
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="card-text">
                            <div class="container-fluid"  ng-hide="activity.comments.length">
                                <i>No comments yet!</i>
                            </div>
                                <ul class="vu-comment">
                                    <!-- ngRepeat: comment in post.comments -->
                                    <li ng-repeat="comment in activity.comments" >
                                        <span><b>{{comment.userId.username}}:</b>&nbsp </span>{{comment.comment}}
                                    <div class="pull-right">
                                        <small><i>{{ comment.date | date : "short" }}</i></small>
                                    </div>
                                </li><!-- end ngRepeat: comment in post.comments -->
                                </ul>
                        </div>
                        <div class="clearfix"></div>

                    </div>
                    <div class="card-footer text-muted">
                        <div class="row comment-input input-group">
                            <input type="text" ng-model=activity.commentText class="form-control col-md-12 ng-pristine ng-untouched ng-valid" placeholder="Comment">
                            <span class="input-group-btn">
                            <button ng-click="model.addComment(activity._id)" class="btn btn-default comment-post" type="button">
                                <i class="material-icons">post</i></button>
                          </span>
                        </div>

                    </div>
                </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light vu-bg-light fixed-bottom">
            <div class="container-fluid">
                <div class="navbar-nav mr-auto ">
                </div>
                <div class="navbar-link ">
                    <a class="navbar-header navbar-brand float-right"  href="#!/user">
                        <span class="fa fa-user fa-fw vu-white"></span>
                    </a>
                </div>
            </div>
        </nav>
    </div>
</div>