<div class="vu">
    <div>

        <nav class="navbar navbar-expand-lg navbar-light vu-bg-light fixed-top">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="#!/user/search">Stocks</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!/user/friends">Following</a></li>
                    <li class="nav-item"><a class="nav-link" href="#!/user/followers">Your followers</a></li>
                    <li class="nav-item active"><a class="nav-link" href="#!/user/activity">Your Feed</a></li>
                    <li class="nav-item" ng-if="model.user.admin" ><a class="nav-link" href="#!/user/admin">User List</a></li>
                </ul>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="container-fluid">
                <div class="card" ng-repeat="activity in model.activities">
                    <div class="card-header">
                        <a href="#/profile/576f3ea8eccc8534264d6b97">
                            <strong class="ng-binding">
                                {{activity.userId.username}} {{activity.type}} {{activity.ticker}} {{activity.friendId.username}}
                            </strong></a>
                        <div class="pull-right post-time">
                            {{activity.date}}
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="card-text">
                                <ul class="vu-comment">
                                    <!-- ngRepeat: comment in post.comments -->
                                    <li ng-repeat="comment in activity.comments" >
                                        <span><b>{{comment.userId.username}}:</b>&nbsp </span>{{comment.comment}}
                                    <div class="pull-right post-time">
                                        {{comment.date}}
                                    </div>
                                </li><!-- end ngRepeat: comment in post.comments -->
                                </ul>
                        </div>
                        <div class="clearfix"></div>

                    </div>
                    <div class="card-footer text-muted">
                        <div class="row comment-input input-group">
                            <input type="text" ng-model=activity.commentText class="form-control col-md-12 ng-pristine ng-untouched ng-valid" placeholder="Comment">
                            <span class="input-group-btn">
                            <button ng-click="model.addComment(activity._id)" class="btn btn-default comment-post" type="button">
                                <i class="material-icons">post</i></button>
                          </span>
                        </div>

                    </div>
                </div>
                <ul class="list-group">
                    <li ng-repeat="activity in model.activities" class="list-group-item">
                        <div>
                            <!--{{ activity}}-->
                            {{activity.userId.username}} {{activity.type}} {{activity.ticker}} {{activity.friendId.username}}
                        </div>
                        <ul class="list-group">
                            <li ng-repeat="comment in activity.comments" class="list-group-item">
                                {{comment.userId.username}} commented {{comment.comment}}
                            </li>
                        </ul>
                                <textarea ng-model=activity.commentText placeholder="Your Comment" style='width:550px'></textarea>
                                <button ng-click='model.addComment(activity._id);'>Post Comment</button>

                    </li>

                </ul>
            </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light vu-bg-light fixed-bottom">
            <div class="container-fluid">
                <div class="navbar-nav mr-auto ">
                </div>
                <div class="navbar-link ">
                    <a class="navbar-header navbar-brand float-right"  href="#!/user">
                        <span class="fa fa-user fa-fw vu-white"></span>
                    </a>
                </div>
            </div>
        </nav>
    </div>
</div>