
<div class="vu">



    <nav class="navbar navbar-expand-sm navbar-light vu-bg-light fixed-top">
        <div class="collapse navbar-collapse">
            <div class="navbar-text float-left">
                <a class="nav-link" href="#!/user/search">
                    <span class="fa fa-arrow-left vu-white"></span>
                </a>
            </div>
            <div class="navbar-header navbar-brand">
                Stock View
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="card-group vu-center-card">
                <div class="card">
                    <div class="card-body">
                        <div class="vu-widget-container">
                            <div class="vu-widget-image">
<span>
        <span class="badge badge-default badge-pill vu-white vu-strong-buy">&nbsp
            <span ng-if="model.stockRating==1">1</span>
        </span>
        <span class="badge badge-default badge-pill vu-white vu-buy">&nbsp
            <span ng-if="model.stockRating==2">2</span>
        </span>
        <span class="badge badge-default badge-pill vu-white vu-hold">&nbsp
            <span ng-if="model.stockRating==3">3</span>
        </span>
        <span class="badge badge-default badge-pill vu-white vu-sell">&nbsp
           <span ng-if="model.stockRating==4">4</span>
        </span>
        <span class="badge badge-default badge-pill vu-white vu-strong-sell">&nbsp
           <span ng-if="model.stockRating==5">5</span>
        </span>
        <span ng-switch="model.stockRating">
            &nbsp - &nbsp<strong>
            <span ng-switch-when="1">
                Strong Buy
            </span>
            <span ng-switch-when="2" >
                Buy
            </span>
            <span ng-switch-when="3" >
                Hold
            </span>
            <span ng-switch-when="4">
                Sell
            </span>
            <span ng-switch-when="5">
                Strong Sell
            </span>
            <span ng-switch-default>
                NA
            </span>
            </strong>
        </span>
</span>


                            </div>
                        </div>
                        <h4 class="card-title">Stock Activity</h4>
                        <ul class="list-group">
                            <li ng-repeat="col in model.stockDataColumns" class="list-group-item justify-content-between">
                                {{col.name}}
                                <span class="badge badge-default badge-pill float-right">{{model.stockData[$index]}}</span>
                            </li>

                        </ul>
                    </div>
                </div>

                <!--<div class="card">-->
                    <!--<div class="card-body">-->
                        <!--<ul class="list-group">-->
                            <!--<li ng-repeat="col in model.stockDataColumns_2" class="list-group-item justify-content-between">-->
                                <!--{{col.name}}-->
                                <!--<span class="badge badge-default badge-pill float-right">{{model.stockData_2[$index]}}</span>-->
                            <!--</li>-->

                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>

        <br> <h6>Stock News</h6><br>

        <div class="container-fluid">
            <ul class="list-group">
                <li ng-repeat="news in model.stockNews" class="list-group-item">
                    <a href="{{news.link}}"  target="_blank">{{news.title}}</a>
                    <p>{{news.description}}</p>
                        {{activity.userId.username}} {{activity.type}} {{activity.ticker}} {{activity.friendId.username}}
                </li>
            </ul>
        </div>

    </div>



    <nav class="navbar navbar-expand-sm navbar-light vu-bg-light fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-nav mr-auto ">
            </div>
            <div class="navbar-link ">
                <a class="navbar-header navbar-brand float-right"  href="#!/user">
                    <span class="fa fa-user fa-fw vu-white"></span>
                </a>
            </div>
        </div>

    </nav>
</div>