<ul class="list-group">
    <li ng-repeat="website in model.websites" class="list-group-item">
        <div class="row">
            <div class="col-xs-8">
                <a href="#!/user/{{model.user._id}}/website/{{website._id}}/page">
                    {{website.name}}
                </a>
            </div>
            <div class="col-xs-4">
                <a class="navbar-link" href="#!/user/{{model.user._id}}/website/{{website._id}}">
                    <span class="glyphicon glyphicon glyphicon-cog pull-right"></span>
                </a>
            </div>
        </div>
    </li>
</ul>