
<div class="vu">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-text pull-left">
                <a class="navbar-link" href="#!/user/{{model.user._id}}">
                    <span class="glyphicon glyphicon-chevron-left vu-white"></span>
                </a>
            </div>
            <div class="navbar-text pull-right">
                <a class="navbar-link" href="#!/user/{{model.user._id}}/website/new">
                    <span class="glyphicon glyphicon-plus vu-white"></span>
                </a>
            </div>
            <div class="navbar-header navbar-brand">
                Websites
            </div>

        </div>
    </nav>

    <div class="container-fluid">
        <ul class="list-group">
            <li ng-repeat="website in model.websites" class="list-group-item">
                <div class="row">
                    <div class="col-xs-8">
                        <a href="#!/user/{{model.user._id}}/website/{{website._id}}/page">
                            {{website.name}}
                        </a>
                    </div>
                    <div class="col-xs-4">
                        <a class="navbar-link" href="#!/user/{{model.user._id}}/website/{{website._id}}">
                            <span class="glyphicon glyphicon glyphicon-cog pull-right"></span>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="navbar-header navbar-text pull-right container-fluid">
            <a class="navbar-link"  href="#!/user/{{model.user._id}}">
                <span class="glyphicon glyphicon-user vu-white"></span>
            </a>
        </div>
    </nav>
</div>