<div class="vu">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-text pull-left">
                <a class="navbar-link"  href="#!/user/{{model.userId}}/website">
                    <span class="glyphicon glyphicon-chevron-left vu-white"></span>
                </a>
            </div>
            <div class="navbar-text pull-right">
                <a class="navbar-link" ng-click="model.createWebsite(website)">
                    <span class="glyphicon glyphicon-ok vu-white"></span>
                </a>
            </div>
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header navbar-brand">
                New Website
            </div>


        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <!-- Website list -->
            <div class="col-xs-3 visible-lg vu-split-view-left">
                <span ng-include="'views/website/templates/website-list.component.view.html'"/>
            </div>
            <!-- New website -->
            <div class="col-xs-12 col-lg-9 vu-split-view-right">
                <div ng-show="model.msg" class="alert alert-danger">
                    {{model.msg}}
                </div>
                <div class="vu-padding-8">
                    <label for="websiteName">Name</label>
                    <input name="websiteName"
                           id ="websiteName"
                           type="text"
                           ng-model="website.name"
                           placeholder="Wikipedia"
                           class="form-control"/>

                    <label for="description">Description</label>
                    <textarea name="description"
                              id ="description"
                              type="text"
                              ng-model="website.description"
                              placeholder="Online Encyclopedia"
                              class="form-control"></textarea>
                </div>
            </div>

        </div>


    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="navbar-header navbar-text pull-right container-fluid">
            <a class="navbar-link" href="#!/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user vu-white"></span>
            </a>
        </div>
    </nav>
</div>