<div class="container-fluid">
    <label for="imageName">Name</label>
    <input name="imageName"
           id ="imageName"
           type="text"
           placeholder="image name"
           ng-model="model.currentWidget.name"
           class="form-control"/>


    <label for="url">URL</label>
    <input name="url"
           id ="url"
           type="url"
           placeholder="URL to image"
           ng-model="model.currentWidget.url"
           class="form-control"/>

    <label for="width">Width</label>
    <input name="width"
           id ="width"
           ng-model="model.currentWidget.width"
           placeholder="width of image"
           class="form-control"/>


    <form action="/api/upload"   method="post" enctype="multipart/form-data">
        <input  name="myFile"    type="file" class="form-control"/>
        <input  name="currentWidget"     value="{{model.currentWidget}}" style="display: none"/>
        <input  name="width"     value="{{model.currentWidget.width}}" style="display: none"/>
        <input  name="userId"    value="{{model.userId}}"   style="display: none"/>
        <input  name="websiteId" value="{{model.websiteId}}"   style="display: none"/>
        <input  name="pageId"    value="{{model.pid}}"   style="display: none"/>
        <input  name="widgetId"  value="{{model.wgid}}"   style="display: none"/>
        <button type="submit"    class="btn btn-block btn-primary">Upload Image</button>
    </form>

</div>