<div class="container-fluid">
    <label for="videoName">Name</label>
    <input name="videoName"
           id ="videoName"
           type="text"
           placeholder="Video name"
           ng-model="model.currentWidget.name"
           class="form-control"/>


    <label for="url">URL</label>
    <input name="url"
           id ="url"
           type="url"
           placeholder="Video URL"
           ng-model="model.currentWidget.url"
           class="form-control"/>

    <label for="width">Width</label>
    <input name="width"
           id ="width"
           placeholder="Width of video"
           ng-model="model.currentWidget.width"
           class="form-control"/>



</div>