<div class="container-fluid">
    <label for="pageName">Name</label>
    <input name="pageName"
           id ="pageName"
           type="text"
           value="Header Name"
           class="form-control"/>

    <label for="text">Text</label>
    <textarea name="text"
              id ="text"
              type="text"
              class="form-control">Mischievous Monkey Causes Massive Blackout in Zambian Tourist Town</textarea>

    <label for="size">Size</label>
    <input name="size"
           id ="size"
           type="text"
           value="3"
           class="form-control"/>

    <a class="btn btn-default btn-danger btn-block"
       href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pid}}/widget"
       role="button">Delete</a>

</div>