<div class="container-fluid">
    <label for="pageName">Name</label>
    <input name="pageName"
           id ="pageName"
           type="text"
           placeholder="name of widget"
           ng-model="model.currentWidget.name"
           class="form-control"/>

    <label for="text">HTML Text</label>
    <textarea name="text"
              id ="text"
              type="text"
              ng-model="model.currentWidget.text"
              placeholder="heading content"
              class="form-control"></textarea>
</div>