<div class="container-fluid">
    <label for="videoName">Name</label>
    <input name="videoName"
           id ="videoName"
           type="text"
           value="Video Name"
           class="form-control"/>

    <label for="text">Text</label>
    <textarea name="text"
              id ="text"
              type="text"
              class="form-control">Mischievous Monkey Causes Massive Blackout in Zambian Tourist Town</textarea>

    <label for="url">URL</label>
    <input name="url"
           id ="url"
           type="text"
           value="https://www.youtube.com/embed/O14-HQa7ICM"
           class="form-control"/>

    <label for="width">Width</label>
    <input name="width"
           id ="width"
           type="text"
           value="100%"
           class="form-control"/>

    <a class="btn btn-default btn-danger btn-block"
       href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pid}}/widget"
       role="button">Delete</a>

</div>