<div class="vu">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-text pull-left">
                <a class="navbar-link" href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pid}}/widget">
                    <span class="glyphicon glyphicon-chevron-left vu-white"></span>
                </a>
            </div>

            <div class="navbar-header navbar-brand">
                Choose Widget
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <ul class="list-group">
            <li class="list-group-item">
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pid}}/widget/new/header">
                    Header
                </a>
            </li>
            <li class="list-group-item">
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pid}}/widget/new/image">
                    Image
                </a>
            </li>
            <li class="list-group-item">
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pid}}/widget/new/youtube">
                    YouTube
                </a>
            </li>
            <li class="list-group-item">
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pid}}/widget/new/text">
                    Text Input
                </a>
            </li>
            <li class="list-group-item">
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pid}}/widget/new">
                    Label
                </a>
            </li>
            <li class="list-group-item">
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pid}}/widget/new">
                    HTML
                </a>
            </li>
            <li class="list-group-item">
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pid}}/widget/new">
                    Link
                </a>
            </li>
            <li class="list-group-item">
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pid}}/widget/new">
                    Button
                </a>
            </li>
            <li class="list-group-item">
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pid}}/widget/new">
                    Data Table
                </a>
            </li>
            <li class="list-group-item">
                <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pid}}/widget/new">
                    Repeater
                </a>
            </li>
        </ul>

    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="navbar-header navbar-text pull-right container-fluid">
            <a class="navbar-link" href="#!/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user vu-white"></span>
            </a>
        </div>
    </nav>
</div>