<div class="container-fluid">
    <label for="imageName">Name</label>
    <input name="imageName"
           id ="imageName"
           type="text"
           placeholder="image name"
           ng-model="model.currentWidget.name"
           class="form-control"/>


    <label for="url">URL</label>
    <input name="url"
           id ="url"
           type="url"
           placeholder="URL to image"
           ng-model="model.currentWidget.url"
           class="form-control"/>

    <label for="width">Width</label>
    <input name="width"
           id ="width"
           type="number"
           ng-model="model.currentWidget.width"
           placeholder="width of image"
           class="form-control"/>

    <label for="upload">Upload</label>
    <input  name="upload"
           id ="upload"
           type="file"
           accept="image/*"
           class="form-control"/>
</div>