<div class="vu">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-text pull-left">
                <a class="navbar-link" href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pid}}/widget">
                    <span class="glyphicon glyphicon-chevron-left vu-white"></span>
                </a>
            </div>
            <div class="navbar-text pull-right">
                <a class="navbar-link" ng-click="model.updateWidget()" >
                    <span class="glyphicon glyphicon-ok vu-white"></span>
                </a>
            </div>
            <div class="navbar-header navbar-brand">
                Edit Widget
            </div>
        </div>
    </nav>

    <div ng-switch="model.currentWidget.widgetType">
        <div ng-switch-when="HEADING">
            <ng-include src="'widget/templates/widget-heading-edit.view.client.html'">
        </div>
        <div ng-switch-when="IMAGE">
            <ng-include src="'widget/templates/widget-image-edit.view.client.html'">
        </div>
        <div ng-switch-when="YOUTUBE" >
            <ng-include src="'widget/templates/widget-youtube-edit.view.client.html'">
        </div>
        <div ng-switch-when="TEXT">
            <ng-include src="'widget/templates/widget-text-edit.view.client.html'">
        </div>
        <div ng-switch-when="HTML">
            <ng-include src="'widget/templates/widget-html-edit.view.client.html'">
        </div>
        <div ng-switch-default>
            Unable
        </div>
    </div>
    <div class="container-fluid">
    <a  class=" btn btn-default btn-danger btn-block" ng-click="model.deleteWidget()"
       role="button">Delete</a>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="navbar-header navbar-text pull-right container-fluid">
            <a class="navbar-link" href="#!/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user vu-white"></span>
            </a>
        </div>
    </nav>
</div>