
<div class="container-fluid">
    <div>
        <div ng-show="model.welocomeUser" class="alert alert-info">
            Welcome {{model.welocomeUser.username}}
        </div>
        <div ng-show="model.errorMessage" class="alert alert-danger">
            {{model.errorMessage}}
        </div>
        <h2>Login</h2>
        <label for="username">Username</label>
        <input name="username"
               id ="username"
               ng-model="model.user.username"
               type="text"
               class="form-control"
               placeholder="alex"/>

        <label for="password">Password</label>
        <input name="password"
               id ="password"
               ng-model="model.user.password"
               placeholder="qwerty123@"
               type="password"
               class="form-control"/>
        <a class="btn btn-default btn-primary btn-block"
           role="button" ng-click ="model.login(model.user)">Login</a>
        <a class="btn btn-default btn-success btn-block"
           href="#!/register"
           role="button">Register</a>
        <a href="/project/auth/google" class="btn btn-danger btn-block">
            <span class="fa fa-google-plus"></span>
            Google
        </a>

    </div>
</div>