
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="user-scalable=no"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Web Dev assignment</title>

</head>

<div class="vu">


    <div class="container">
        <div class="header clearfix">

            <h3 class="text-muted">Stock Application</h3><hr>
        </div>

        <div class="jumbotron">
            <h1 class="display-3">Welcome!</h1>
            <p class="lead">Hey, there! Search for companies to get stock prices, volume traded and lot more information about the stock. Sign up to get exclusive analyst ratings. You can follow stock, add friends and more! </p>
            <p><a class="btn btn-lg btn-success" href="#!/register" role="button">Sign up today</a></p>
            <p><i>Already have an account?&nbsp&nbsp<a href="#!/login" >Login</a></i></p>
        </div>

        <div class="container-fluid">
            <h3 >Search for a stock</h3><hr>
            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group">
                        <input type="text" ng-model="model.ticker" class="form-control" placeholder="Search for any stock. (MSFT, AAPL)...">
                        <span class="input-group-btn">
                             <button class="btn btn-default"  ng-click="model.searchStock()" type="button">Go!</button>
                        </span>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->


            <br>
            <div ng-show="model.stockData.length > 0">

                <table class="table table-responsive user-table" >

                    <thead>
                    <tr>
                        <th>Company Name</th>
                        <th>Open Price</th>
                        <th>Day's high</th>
                        <th>Day's low</th>
                        <th>Current Price</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>

                        <td>
                            <a  href="#!/login">
                                {{model.stockData[0]}}
                            </a>
                        </td>
                        <td>{{model.stockData[2]}}</td>
                        <td>{{model.stockData[3]}}</td>
                        <td>{{model.stockData[4]}}</td>
                        <td>{{model.stockData[5]}}</td>
                        <td>{{model.stockData[1]}}</td>
                    </tbody>
                </table>
            </div>



            <table class="table table-responsive user-table" ng-show="model.stockUserDataDetailed.length" >

                <thead>
                <tr>
                    <th>Company Name</th>
                    <th>Open Price</th>
                    <th>Day's high</th>
                    <th>Day's low</th>
                    <th>Current Price</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody ng-repeat="stock in model.stockUserDataDetailed" >
                <tr>
                    <td>
                        <a  href="#!/user/stock/{{stock[0]}}">
                            {{stock[0]}}
                        </a>
                    </td>
                    <td>{{stock[2]}}</td>
                    <td>{{stock[3]}}</td>
                    <td>{{stock[4]}}</td>
                    <td>{{stock[5]}}</td>
                    <td>{{stock[1]}}</td>
                </tbody>
            </table>
        </div>
    </div> <!-- /container -->




</div>
</div>
</html>